@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.calc{
    position: absolute;
    width: 380px;
    height: 94px;
    left: 60px;
    top: 34px;
  
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 90.3%;
    /* or 47px */
    
    
    color: #FFDC40;
}
div{
    position: relative;
    width: 500px;
    height: 800px;
    background: #360160;
}
.summa{
    position: absolute;
    width: 380px;
    height: 23px;
    left: 60px;
    top: 170px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    
}
.ab{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 60px;
    top: 200px;
    
    background: #FFFFFF;
    border: 2px solid #A4CEF4;
    box-sizing: border-box;
    border-radius: 5px;
}
.quality{

    position: absolute;
    width: 380px;
    height: 23px;
    left: 60px;
    top: 271px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;
}
.vybor{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 60px;
    top: 301px;
    
    background: #FFFFFF;
    border: 2px solid #A4CEF4;
    box-sizing: border-box;
    border-radius: 5px;
}
.colichestvo{
    position: absolute;
    width: 380px;
    height: 23px;
    left: 60px;
    top: 371px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;
}
.abc{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 60px;
    top: 401px;
    
    background: #FFFFFF;
    border: 2px solid #A4CEF4;
    box-sizing: border-box;
    border-radius: 5px;
}
.count{

    position: absolute;
    width: 128px;
    height: 22px;
    left: 86px;
    top: 499px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #000000;
    
}
.count2{
    position: absolute;
    width: 180px;
    height: 60px;
    left: 60px;
    top: 480px;
    
    background: #FFDC40;
    border-radius: 15px;
}
.sbros{
    position: absolute;
    width: 180px;
    height: 60px;
    left: 260px;
    top: 480px;
    
    background: #7C7A7A;
    border-radius: 15px;
    
}
.sbros2{
    position: absolute;
    width: 114px;
    height: 22px;
    left: 293px;
    top: 499px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.extramoney{
    position: absolute;
    width: 147px;
    height: 29px;
    left: 60px;
    top: 607px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    
    color: #FFFFFF;
    
}
.totalmoney{
    position: absolute;
    width: 147px;
    height: 29px;
    left: 60px;
    top: 667px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    
    color: #FFFFFF;
    
}
.witheveryone{

    position: absolute;
    width: 112px;
    height: 21px;
    left: 175px;
    top: 614px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: right;
    
    color: #B6B6B6;
    
}
.witheveryone2{
    position: absolute;
    width: 112px;
    height: 21px;
    left: 175px;
    top: 673px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: right;
    
    color: #B6B6B6;
}
